.manual_review .hei_513 {
    height: auto;
}
.manual_review .input_kuang {
    width: 202px;
}
.mr_form {
    margin-left: 100px;
}
.mr_title {
    font-size: 30px;
    margin: 40px 0 10px 0;
    text-align: center;
}
.mr_title2 {
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}
.mr_form dl {
    margin: 0;
}
.mr_form .dt_l {
    width: 170px;
    font-weight: normal;
}
.mr_form .dd_r {
    min-height: 38px;
    width: 620px;
}
.mr_h_tips {
    font-size: 14px;
    line-height: 2.5;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    width: 700px;
}
.mr_p_tips {
    font-weight: bold;
    color: #ff7e00;
    margin: 20px 0 20px 50px;
}
.select1 {
    width: 270px;
    display: inline-block;
    padding: 9px 4px;
}
.add_more .input_kuang {
    display: inline-block;
    margin-bottom: 10px;
}
.add_more .add_more_link, .add_more .del_link, .a_intro {
    display: inline-block;
    margin-left: 10px;
    color: #ff7e00;
    line-height: 38px;
    text-decoration: underline;
}
.mr_service {
    width: 460px;
}
.mr_service .check_tips {
    width: 140px;
}
.mr_service .checkbox_container {
    float: none;
    width: 150px;
    display: inline-block;
    height: 28px;
    line-height: 36px;
}
.mr_service .checkbox_container input {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-left: 6px;
}
.mr_form .getCode {
    width: 100px;
    padding-top: 0;
    height: 38px;
    color: #000;
    margin-left: 10px;
    font-weight: normal;
}
.i_selectbox {
    height: 32px;
    position: relative;
    font-size: 14px;
    float: left;
}
.i_selectbox .i_currentselected {
    width: 218px;
    height: 32px;
    background: #fff url(/static/img/passport/manfind_select.png) right center no-repeat;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-indent: 10px;
    line-height: 32px;
    cursor: pointer;
}
.i_selectbox .i_currentselected:hover {
    border: 1px solid #ccc;
}
.i_selectbox .i_selectoption {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 36px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    *border: 0 none;
    *border-top: 1px solid #e3e3e3;
    *border-right: 1px solid #e3e3e3;
}
.i_selectbox .i_selectoption dt {
    height: 24px;
    background-color: #eee;
    text-indent: 5px;
    font-style: italic;
    color: #555;
    line-height: 24px;
}
.i_selectbox .i_selectoption dd {
    height: 30px;
    cursor: pointer;
    text-indent: 10px;
    line-height: 30px;
    *border-left: 1px solid #e3e3e3;
}
.i_selectbox .i_selectoption dd.last-border {
    *border-bottom: 1px solid #e3e3e3;
}
.i_selectbox .i_selectoption dd:hover, .i_selectbox .i_selectoption dd.hover {
    background-color: #eff1f2;
    color: #000;
}
.i_selectbox .i_selectoption dd.selected {
    background-color: #f6f6f6;
    color: #000;
}
.box {
    position: relative;
    z-index: 2;
    float: left;
    margin: 5px;
    border: 5px solid #666;
    padding: 5px;
    width: 250px;
    height: 100px;
    color: #000;
    background-color: #999;
}
.account_dialog {
    padding: 0 140px;
    border: 1px solid #ccc;
    background: #fff;
    width: 620px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -450px;
    overflow: auto;
}
.mp_title {
    font-size: 18px;
    color: #ff7e00;
    padding: 60px 0 20px 0;
    text-align: center;
}
.mp_tips1 {
    font-size: 14px;
    color: #000;
    line-height: 2;
}
.mp_tips_container {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}
.mp_tips_container .mp_tips1 {
    font-weight: bold;
}
.mp_tips_container .fl_l {
    width: 260px;
}
.mp_tips2 {
    color: #888;
    line-height: 1.5;
    margin-left: 20px;
}
.example_img {
    display: block;
    width: 300px;
    height: 240px;
    background: url(/static/img/passport/show_people2.png) no-repeat;
    float: left;
    margin: 10px 20px 0 20px;
    *margin: 10px 10px 0 10px;
}
.mark_area {
    margin: 10px 10px 10px 30px;
    background: #eee;
    padding: 10px 0 10px 0;
}
.note_tips {
    font-size: 14px;
    color: #ff7e00;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
.padd_left {
    margin-left: 44px;
}
.mp_sub {
    text-align: center;
    margin: 20px 0;
}
.mp_sub a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #ff7e00;
    border-radius: 8px;
}
.special_color {
    color: #888;
}
.manual_processes_result {
    padding: 20px 40px;
}
.manual_processes_result .mt_login {
    color: #888;
    font-weight: normal;
    width: 140px;
    height: 28px;
    padding-top: 12px;
    margin-top: 40px;
}
.cancel_reason {
    margin-top: 40px;
    text-align: left;
    padding-left: 280px;
}
.fl_l {
    float: left;
}
.fl_r {
    float: right;
}
.btn_val1, .btn_val2 {
    display: none;
}
.show_img {
    clear: both;
    margin-top: 10px;
}
.download_img {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
}
.loading {
    margin: 20px 50px;
}
.file-input {
    margin-left: -900px;
}
.has_no_ico {
    float: none;
    padding-top: 12px;
}
.has_no_ico .doubt {
    color: #ff7e00;
}
.has_no_ico .bubble {
    left: 66px;
    margin-left: 0;
}
.has_ico {
    padding-top: 12px;
}
.has_ico .doubt {
    width: 16px;
    height: 16px;
    display: inline-block;
    zoom: 1;
    overflow: hidden;
    background: url(../img/icos.png) 0 0 no-repeat;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.has_ico .bubble {
    left: 20px;
}
.need_intro {
    padding: 12px 0 0 20px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}
.manual_processes_contaniner {
    padding-left: 80px;
}
.mp_sub {
    margin-bottom: 0;
}
.mr_form .disabled, .mr_form .noSend {
    color: #999;
    cursor: default;
}